---
ignore: |
  deployments/flux-system/gotk-components.yaml
  crds/*
extends: default
rules:
    comments:
        min-spaces-from-content: 1
    indentation:
        indent-sequences: consistent
    line-length: false
